* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

.text-preset-1 {
  color: #4d4f62;
  font-size: clamp(24px, 21px + 1vw, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.text-preset-2 {
  color: #4d4f62;
  font-family: Poppins;
  font-size: clamp(24px, 21px + 1vw, 36px);
  font-style: normal;
  font-weight: 275;
  line-height: 140%;
}
.text-preset-3 {
  color: #4d4f62;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.text-preset-4 {
  color: #4d4f62;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text-preset-5 {
  color: #4d4f62;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  width: 19.62rem;
  height: 15.63rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.four-card-feature-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.88rem;
}
.title-wrapper {
  text-align: center;
  max-width: 540px;
}
.title-wrapper p {
  padding-bottom: clamp(60px, calc(3.125vw + 50px), 74px);
  padding-top: 1rem;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.supervisor-card {
  border-top: 0.25rem solid #44d3d2;
}
.team-builder-card {
  border-top: 0.25rem solid #ea5454;
}
.calculator-card {
  border-top: 0.25rem solid #fcae4a;
}

.karma-card {
  border-top: 0.25rem solid #549ef2;
}

.center-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-image {
  display: flex;
  justify-content: flex-end;
}

.card-image img {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .center-cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .center-cards-container {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    min-width: fit-content;
    gap: 2rem;
  }
  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
